In [1]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [3]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), 
      pd.get_option("display.max_rows"))

40 200

# Introduction

* Logistic center development

# Initial Setting

In [4]:
astn = EmptyClass()

# Input Index Data

In [5]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 35],
           ['cstrn', '2022-01', 23],
           ['loan',  '2022-01', 29],
           ['sales', '2022-01', 29]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [6]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [7]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',    67_000,     15_000,      0.015,     0.040],
           ['trb',    20_000,     20_000,      0.035,     0.060],
           ['trc',    10_000,     10_000,      0.070,     0.090]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col)

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

# 미인출잔액수수료율
loan.feeonbal_tra = 0.005

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title amt_ntnl amt_intl rate_fee rate_IR
0   tra   67,000   15,000     1.50    4.00
1   trb   20,000   20,000     3.50    6.00
2   trc   10,000   10,000     7.00    9.00

# Input Sales Data

In [8]:
# Pickling Data
with open("data/valuation.pickle", "rb") as fr:
    data_valuation = pickle.load(fr)
valuation = data_valuation['valuation_pivot']
value = valuation.loc[[('23,000', '50,000')]].values[0]
print("## Valuation Matrix ##")
display(R(valuation))

## Valuation Matrix ##

cap_rate         (4.0, 4.6) (4.1, 4.8) (4.2, 5.0) (4.3, 5.2) (4.4, 5.4)
rent
(21,000, 46,000)    123,728    119,432    115,441    111,721    108,246
(22,000, 48,000)    128,976    124,499    120,339    116,463    112,840
(23,000, 50,000)    134,224    129,566    125,238    121,204    117,435
(24,000, 52,000)    139,472    134,633    130,136    125,945    122,029
(25,000, 54,000)    144,720    139,700    135,034    130,687    126,624
(26,000, 56,000)    149,969    144,766    139,933    135,428    131,218

In [9]:
sales_value = 125_000
sales = cf.Account(idx, 'Sales')
sales.addamt(idx.sales[0], sales_value)
sales.subscdd(idx.sales[-1], sales_value)

# Input Cost Data

### 1) Set Cost Class

In [10]:
cost = cf.Cost(idx)

### 2) Land Purchase Costs

In [11]:
title = ('lnd', 'prchs') # land purchase cost
byname = '용지매입비'
tmp_ary = [[idx.locval(2021, 12),  1_000],
           [idx.locval(2022,  1), 13_500]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [12]:
title = ('lnd', 'brkrg') # land brokerage fee
byname = '부동산중개비용'
tmp_ary = [[idx.locval(2021, 12),  39],
           [idx.locval(2022,  1),  91]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [13]:
title = ('lnd', 'tax_aqstn') # land acquisition and registration tax
byname = '취등록세'
tmp_ary = [[idx.locval(2022, 1), 675]]
# 토지매매대금 x 취득세 4.0%, 농특세 0.2%, 교육세 0.4%
cost.inptcst(title, byname, scdddf=tmp_ary)

In [14]:
title = ('lnd', 'nhbond') # national housing bond
byname = '국민주택채권'
tmp_ary = [[idx.locval(2022, 1), 36]]
# 토지매매대금 x 매입률 4.5% x 본인부담율 5.5%
cost.inptcst(title, byname, scdddf=tmp_ary)

In [15]:
title = ('lnd', 'jdclcst') # judicial scrivener cost
byname = '법무사비용'
tmp_ary = [[idx.locval(2022, 1), 15]]
# 토지매매대금 x 0.1%
cost.inptcst(title, byname, scdddf=tmp_ary)

### 3) Construction Costs

In [16]:
cstrn = {}
cstrn['dmltn'] = 35 + 1_180 # 철거비: 3,550평 x 342천원, 온천공 폐공공사 포함
cstrn['civil'] = 8_490 # 토목공사: 16,327평 x 520천원
cstrn['nml_fclt'] = 9_311 * 2.66 # 상온시설: 9,311평 x 2,660천원
cstrn['cld_fclt'] = 8_365 * 3.66 # 저온시설: 8,365평 x 3,660천원
cstrn_sum = round(sum([cstrn[key] for key in cstrn]))

retention_rate = 0.1
cstrn_intl = 35
cstrn_prd = cstrn_sum * (1-retention_rate) - cstrn_intl
cstrn_rttn = cstrn_sum * retention_rate

print(f"Total construction cost:   {cstrn_sum:>7,.0f}")
print(f"Initial construction cost: {cstrn_intl:>7,.0f}")
print(f"Period construction cost:  {cstrn_prd:>7,.0f}")
print(f"Retained construction cost:{cstrn_rttn:>7,.0f}")

Total construction cost:    65,088
Initial construction cost:      35
Period construction cost:   58,544
Retained construction cost:  6,509

In [17]:
title = ('cstrn', 'cstrn') # construction cost
byname = '공사비'
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[idx.prjt[0], cstrn_intl]]
tmp_ary.extend([[x, cstrn_prd / tmp_len] for x in tmp_idx])
tmp_ary.append([idx.prjt[-1], cstrn_rttn])

cost.inptcst(title, byname, scdddf=tmp_ary)

### 4) Indirect Construction Costs

In [18]:
title = ('cstrnidrt', 'wtrelec') # water supply, electricity etc. 
byname = '각종인입비'
tmp_ary = [[idx.locval(2023, 10), 980]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [19]:
title = ('cstrnidrt', 'wsctbn') # water and sewage contribution
byname = '상수도분담금'
tmp_ary = [[idx.locval(2023, 10), 163]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [20]:
title = ('cstrnidrt', 'dsgncst') # design cost
byname = '설계비'
tmp_ary = [[idx.locval(2022, 1), 624]]
# 16,327평 x 38천원
cost.inptcst(title, byname, scdddf=tmp_ary)

In [21]:
title = ('cstrnidrt', 'lcnscst') # license cost
byname = '인허가비용'
tmp_ary = [[idx.locval(2022, 1), 528]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [22]:
title = ('cstrnidrt', 'spvsn') # supervision cost
byname = '감리비'
ttl_amt = 490 # 16,327평 x 30천원, 월별 분할 부과
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[x, ttl_amt / tmp_len] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 5) Marketing Costs

In [23]:
title = ('mrktg', 'rentagncy') # rent agency cost
byname = '임대대행수수료'
tmp_ary = [[idx.prjt[-1], 1_070]]
# 임대계약 실행시 월 임대료의 2개월치 지급
# 1개월치 임대료 517백만원 가정
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [24]:
title = ('mrktg', 'salescsltg') # sales consulting fee
byname = '매각컨설팅수수료'
tmp_ary = [[idx.prjt[-1], 1_002]]
# 추정매각가 x 0.8%
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [25]:
title = ('mrktg', 'advtsmnt') # advertisement and promotion cost
byname = '광고홍보비'
tmp_ary = [[idx.locval(2022, 6), 250],
           [idx.locval(2023, 6), 250]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 6) Tax and Utility bills(제세공과금)

In [26]:
title = ('taxutlt', 'prpttax') # property tax
byname = '재산세종부세'
tmp_ary = [[idx.locval(2022, 6), 37],
           [idx.locval(2023, 6), 37]]
# 5,590 x 0.62% 2년
cost.inptcst(title, byname, scdddf=tmp_ary)

In [27]:
title = ('taxutlt', 'prsvtntax') # preservation registration fee
byname = '보존등기비'
tmp_ary = [[idx.cstrn.index[-1], 2_866]]
# 건물 취득비용 x 3.40%(취득세 2.8%, 농특세 0.2%, 교육세 0.16%, 법무사 0.24%)
cost.inptcst(title, byname, scdddf=tmp_ary)

### 7) Additional Costs

In [28]:
title = ('addtnl', 'pmfee') # Additional expense, PM fee
byname = 'PM수수료'
tmp_ary = [[idx.locval(2022, 1), 200]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [29]:
title = ('addtnl', 'oprtgcst') # company operating cost
unt_amt = 30 # 3,000만원/월
tmp_idx = idx.loan.index
tmp_ary = [[x, unt_amt] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [30]:
title = ('addtnl', 'rsrvfund') # reserve fund
byname = '예비비'
tmp_ary = [[idx.locval(2022, 6), 940],
           [idx.locval(2023, 6), 939]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [31]:
title = ('addtnl', 'trustcst') # trust fee
byname = '신탁수수료'
tmp_ary = [[idx.locval(2022, 1), 1_879]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [32]:
title = ('addtnl', 'csltcst') # consulting fee
byname = '사평감평용역비'
tmp_ary = [[idx.locval(2021, 12), 10],
           [idx.locval(2022, 1), 140]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [33]:
title = ('addtnl', 'legalcst') # legal advice fee
byname = '법률자문'
tmp_ary = [[idx.locval(2022, 1), 40]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 8) Financing Costs

In [34]:
title = ('fncg', 'arngmnt') # financing arrangement fee
byname = '금융주관수수료'
tmp_rate = 0.02 #2.0%
tmp_amt = sum(loan.amt_ntnl)
tmp_ary = [[idx.locval(2022, 1), tmp_amt * tmp_rate]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [35]:
title = ('fncg', 'spcoprtg') # spc operating cost
byname = 'SPC유동화비용'
tmp_ary = [[idx.locval(2022, 1), 66]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [36]:
title = ('fncg', 'agntbank') # agent banking fee
byname = '대리금융기관'
tmp_ary = [[idx.locval(2022, 1), 30],
           [idx.locval(2023, 1), 30]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [37]:
title = ('fncg', 'prepchs_fee') # pre-purchase agreement fee
byname = '선매입약정수수료'
tmp_ary = [[idx.locval(2022, 1), 300]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 9) Cost Matrix

In [38]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.add_scdd[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].add_scdd[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,439         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,439       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00      0         0      0
2024-07-31       0   0.00         0   0.00    0.00      0         0      0
2024-08-31       0   0.00         0   0.00    0.00      0         0      0
2024-09-30       0   0.00         0   0.00    0.00      0         0      0
2024-10-31       0   0.00         0   0.00    0.00      0         0      0
2024-11-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0          0        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   1,940    66.00    30.00         300  22,554
2022-02-28       0     0.00     0.00           0   2,490
2022-03-31       0     0.00     0.00           0   2,490
2022-04-30       0     0.00     0.00           0   2,490
2022-05-31       0     0.00     0.00           0   2,490
2022-06-30       0     0.00     0.00           0   3,717
2022-07-31       0     0.00     0.00           0   2,490
2022-08-31       0     0.00     0.00           0   2,490
2022-09-30       0     0.00     0.00           0   2,490
2022-10-31       0     0.00     0.00           0   2,490
2022-11-30       0     0.00     0.00           0   2,490
2022-12-31       0     0.00     0.00           0   2,490
2023-01-31       0     0.00    30.00           0   2,520
2023-02-28       0     0.00     0.00           0   2,490
2023-03-31       0     0.00     0.00           0   2,490
2023-04-30       0     0.00     0.00           0   2,490
2023-05-31       0     0.00     0.00           0   2,490
2023-06-30       0     0.00     0.00           0   3,716
2023-07-31       0     0.00     0.00           0   2,490
2023-08-31       0     0.00     0.00           0   2,490
2023-09-30       0     0.00     0.00           0   2,490
2023-10-31       0     0.00     0.00           0   3,633
2023-11-30       0     0.00     0.00           0   2,490
2023-12-31       0     0.00     0.00           0   5,356
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0      30
2024-05-31       0     0.00     0.00           0      30
2024-06-30       0     0.00     0.00           0      30
2024-07-31       0     0.00     0.00           0       0
2024-08-31       0     0.00     0.00           0       0
2024-09-30       0     0.00     0.00           0       0
2024-10-31       0     0.00     0.00           0       0
2024-11-30       0     0.00     0.00           0   8,581

In [39]:
cost_df.sum()

lnd        prchs          14500.0
           brkrg            130.0
           tax_aqstn        675.0
           nhbond            36.0
           jdclcst           15.0
cstrn      cstrn          65088.0
cstrnidrt  wtrelec          980.0
           wsctbn           163.0
           dsgncst          624.0
           lcnscst          528.0
           spvsn            490.0
mrktg      rentagncy       1070.0
           salescsltg      1002.0
           advtsmnt         500.0
taxutlt    prpttax           74.0
           prsvtntax       2866.0
addtnl     pmfee            200.0
           oprtgcst         900.0
           rsrvfund        1879.0
           trustcst        1879.0
           csltcst          150.0
           legalcst          40.0
fncg       arngmnt         1940.0
           spcoprtg          66.0
           agntbank          60.0
           prepchs_fee      300.0
sum        sum            96155.0
dtype: float64

# Execution Cash Flow

In [40]:
acc = cf.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [41]:
# Execute cash flow
for idxno in idx.index:
    #### Loans: set loan withdrawble ####
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno, idx[0])
    loan.tra.set_wtdrbl_intldate(idxno)
    loan.trb.set_wtdrbl_intldate(idxno)
    loan.trc.set_wtdrbl_intldate(idxno)
    
    #### Cash Inflow: cash inflow from sales or rent etc. ####
    salesamt = sales.sub_scdd[idxno]
    if salesamt > 0:
        sales.send(idxno, salesamt, acc.repay)
    
    #### Expected Costs: calculate expected costs ####
    # calculate operating costs
    oprtg_cost = cost['all'].add_scdd[idxno]

    # calculate financial costs
    for trch, loaneach in loan.dct.items():
        if idxno == loaneach.idxfn[0]:
            loaneach.fee.addscdd(idxno, loaneach.fee.amt)
        if all([loaneach.is_wtdrbl, not loaneach.is_repaid]):
            #tmp_ntnl = -loaneach.ntnl.bal_strt[idxno]
            #tmp_IRamt = tmp_ntnl * loaneach.IR.rate_cycle
            loaneach.IR.addscdd(idxno, loaneach.IRamt_topay(idxno))
    
    # calculate financial fee on balance on Tr.A
    ntnl_sub_rsdl_tra = loan.tra.ntnl_sub_rsdl(idxno)
    feeonbal = ntnl_sub_rsdl_tra * loan.feeonbal_tra / 12
    loan.tra.fee.addscdd(idxno, feeonbal)
    
    # gathering financial costs
    fncl_fee = loan.ttl.fee.add_scdd[idxno]
    fncl_IR = loan.ttl.IR.add_scdd[idxno]

    cost_ttl = oprtg_cost + fncl_fee + fncl_IR
    
    
    #### Loans: withdraw loan ####
    # calculate the amount to withdraw
    amt_rqrd = acc.oprtg.amt_rqrd_excess(idxno, cost_ttl)
    
    # withdraw loan amount
    amt_wtdrw = 0
    amt_wtdrw += equity.wtdrw(idxno, equity.amt_intl, acc.oprtg)
    if idxno == idx.loan[0]:
        amt_wtdrw += loan.trc.wtdrw(idxno, loan.trc.amt_intl, acc.oprtg)
        amt_wtdrw += loan.trb.wtdrw(idxno, loan.trb.amt_intl, acc.oprtg)
        amt_wtdrw += loan.tra.wtdrw(idxno, loan.tra.amt_intl, acc.oprtg)
    
    amt_rqrd = max(amt_rqrd - amt_wtdrw, 0)
    amt_rqrd = max(amt_rqrd - loan.trc.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    amt_rqrd = max(amt_rqrd - loan.trb.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    amt_rqrd = max(amt_rqrd - loan.tra.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)

    
    #### Costs: 토지비, 공사비 등 각종 비용 지출 ####
    for cst_name, cst_acc in cost['all'].dct.items():
        amt_scdd = cst_acc.add_scdd[idxno]
        acc.oprtg.send(idxno, amt_scdd, cst_acc)
        
    
    #### Loans: pay financial cost ####
    acc.oprtg.send(idxno, loan.tra.fee.add_scdd[idxno], loan.tra.fee)
    acc.oprtg.send(idxno, loan.trb.fee.add_scdd[idxno], loan.trb.fee)
    acc.oprtg.send(idxno, loan.trc.fee.add_scdd[idxno], loan.trc.fee)
    
    acc.oprtg.send(idxno, loan.tra.IR.add_scdd[idxno], loan.tra.IR)
    acc.oprtg.send(idxno, loan.trb.IR.add_scdd[idxno], loan.trb.IR)
    acc.oprtg.send(idxno, loan.trc.IR.add_scdd[idxno], loan.trc.IR)
    
    
    #### Loans: repay loan amount ####
    if idxno >= loan.idxfn[-1]: # 만기 도래 여부 확인
        amtrpy = loan.tra.repay_amt(idxno, acc.repay.bal_end[idxno])
        acc.repay.send(idxno, amtrpy, loan.tra.ntnl)
        loan.tra.set_repaid(idxno)
                
        if loan.tra.is_repaid:
            amtrpy = loan.trb.repay_amt(idxno, acc.repay.bal_end[idxno])
            acc.repay.send(idxno, amtrpy, loan.trb.ntnl)
            loan.trb.set_repaid(idxno)
            
        if loan.trb.is_repaid:
            amtrpy = loan.trc.repay_amt(idxno, acc.repay.bal_end[idxno])
            acc.repay.send(idxno, amtrpy, loan.trc.ntnl)
            loan.trc.set_repaid(idxno)
            
        if loan.trc.is_repaid:
            acc.repay.send(idxno, acc.repay.bal_end[idxno], acc.oprtg)
        
    
    #### Loans: Set back loan unwithdrawble at maturity ####
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    loan.tra.setback_wtdrbl_mtrt(idxno)
    loan.trb.setback_wtdrbl_mtrt(idxno)
    loan.trc.setback_wtdrbl_mtrt(idxno)

# Analysis of Results

### 1) Accounts

In [42]:
print("## Operating Account ##")
display(R(acc.oprtg.df))

## Operating Account ##

           add_scdd sub_scdd bal_strt amt_add amt_sub bal_end
2021-12-31     0.00     0.00        0   1,300   1,084     216
2022-01-31     0.00     0.00      216  45,000  24,987  20,229
2022-02-28     0.00     0.00   20,229       0   2,736  17,493
2022-03-31     0.00     0.00   17,493       0   2,736  14,756
2022-04-30     0.00     0.00   14,756       0   2,736  12,020
2022-05-31     0.00     0.00   12,020       0   2,736   9,284
2022-06-30     0.00     0.00    9,284       0   3,963   5,320
2022-07-31     0.00     0.00    5,320       0   2,736   2,584
2022-08-31     0.00     0.00    2,584     200   2,736      47
2022-09-30     0.00     0.00       47   2,700   2,737      10
2022-10-31     0.00     0.00       10   2,800   2,745      65
2022-11-30     0.00     0.00       65   2,700   2,753      12
2022-12-31     0.00     0.00       12   2,800   2,761      51
2023-01-31     0.00     0.00       51   2,800   2,799      52
2023-02-28     0.00     0.00       52   2,800   2,777      75
2023-03-31     0.00     0.00       75   2,800   2,785      90
2023-04-30     0.00     0.00       90   2,800   2,794      96
2023-05-31     0.00     0.00       96   2,800   2,802      94
2023-06-30     0.00     0.00       94   4,000   4,036      58
2023-07-31     0.00     0.00       58   2,800   2,822      37
2023-08-31     0.00     0.00       37   2,800   2,830       7
2023-09-30     0.00     0.00        7   2,900   2,838      69
2023-10-31     0.00     0.00       69   4,000   3,989      80
2023-11-30     0.00     0.00       80   2,800   2,858      22
2023-12-31     0.00     0.00       22   5,800   5,732      90
2024-01-31     0.00     0.00       90     400     423      66
2024-02-29     0.00     0.00       66     400     425      42
2024-03-31     0.00     0.00       42     400     426      16
2024-04-30     0.00     0.00       16     500     427      89
2024-05-31     0.00     0.00       89       0     428    -339
2024-06-30     0.00     0.00     -339  28,000     428  27,232
2024-07-31     0.00     0.00   27,232       0       0  27,232
2024-08-31     0.00     0.00   27,232       0       0  27,232
2024-09-30     0.00     0.00   27,232       0       0  27,232
2024-10-31     0.00     0.00   27,232       0       0  27,232
2024-11-30     0.00     0.00   27,232       0   8,581  18,652

In [43]:
print("## Sales Account ##")
display(R(sales.df))

## Sales Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub  bal_end
2021-12-31     0.00        0        0        0        0        0
2022-01-31     0.00        0        0  125,000        0  125,000
2022-02-28     0.00        0  125,000        0        0  125,000
2022-03-31     0.00        0  125,000        0        0  125,000
2022-04-30     0.00        0  125,000        0        0  125,000
2022-05-31     0.00        0  125,000        0        0  125,000
2022-06-30     0.00        0  125,000        0        0  125,000
2022-07-31     0.00        0  125,000        0        0  125,000
2022-08-31     0.00        0  125,000        0        0  125,000
2022-09-30     0.00        0  125,000        0        0  125,000
2022-10-31     0.00        0  125,000        0        0  125,000
2022-11-30     0.00        0  125,000        0        0  125,000
2022-12-31     0.00        0  125,000        0        0  125,000
2023-01-31     0.00        0  125,000        0        0  125,000
2023-02-28     0.00        0  125,000        0        0  125,000
2023-03-31     0.00        0  125,000        0        0  125,000
2023-04-30     0.00        0  125,000        0        0  125,000
2023-05-31     0.00        0  125,000        0        0  125,000
2023-06-30     0.00        0  125,000        0        0  125,000
2023-07-31     0.00        0  125,000        0        0  125,000
2023-08-31     0.00        0  125,000        0        0  125,000
2023-09-30     0.00        0  125,000        0        0  125,000
2023-10-31     0.00        0  125,000        0        0  125,000
2023-11-30     0.00        0  125,000        0        0  125,000
2023-12-31     0.00        0  125,000        0        0  125,000
2024-01-31     0.00        0  125,000        0        0  125,000
2024-02-29     0.00        0  125,000        0        0  125,000
2024-03-31     0.00        0  125,000        0        0  125,000
2024-04-30     0.00        0  125,000        0        0  125,000
2024-05-31     0.00        0  125,000        0        0  125,000
2024-06-30     0.00  125,000  125,000        0  125,000        0
2024-07-31     0.00        0        0        0        0        0
2024-08-31     0.00        0        0        0        0        0
2024-09-30     0.00        0        0        0        0        0
2024-10-31     0.00        0        0        0        0        0
2024-11-30     0.00        0        0        0        0        0

In [44]:
print("## Repayment Account ##")
display(R(acc.repay.df))

## Repayment Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub bal_end
2021-12-31     0.00     0.00     0.00        0        0    0.00
2022-01-31     0.00     0.00     0.00        0        0    0.00
2022-02-28     0.00     0.00     0.00        0        0    0.00
2022-03-31     0.00     0.00     0.00        0        0    0.00
2022-04-30     0.00     0.00     0.00        0        0    0.00
2022-05-31     0.00     0.00     0.00        0        0    0.00
2022-06-30     0.00     0.00     0.00        0        0    0.00
2022-07-31     0.00     0.00     0.00        0        0    0.00
2022-08-31     0.00     0.00     0.00        0        0    0.00
2022-09-30     0.00     0.00     0.00        0        0    0.00
2022-10-31     0.00     0.00     0.00        0        0    0.00
2022-11-30     0.00     0.00     0.00        0        0    0.00
2022-12-31     0.00     0.00     0.00        0        0    0.00
2023-01-31     0.00     0.00     0.00        0        0    0.00
2023-02-28     0.00     0.00     0.00        0        0    0.00
2023-03-31     0.00     0.00     0.00        0        0    0.00
2023-04-30     0.00     0.00     0.00        0        0    0.00
2023-05-31     0.00     0.00     0.00        0        0    0.00
2023-06-30     0.00     0.00     0.00        0        0    0.00
2023-07-31     0.00     0.00     0.00        0        0    0.00
2023-08-31     0.00     0.00     0.00        0        0    0.00
2023-09-30     0.00     0.00     0.00        0        0    0.00
2023-10-31     0.00     0.00     0.00        0        0    0.00
2023-11-30     0.00     0.00     0.00        0        0    0.00
2023-12-31     0.00     0.00     0.00        0        0    0.00
2024-01-31     0.00     0.00     0.00        0        0    0.00
2024-02-29     0.00     0.00     0.00        0        0    0.00
2024-03-31     0.00     0.00     0.00        0        0    0.00
2024-04-30     0.00     0.00     0.00        0        0    0.00
2024-05-31     0.00     0.00     0.00        0        0    0.00
2024-06-30     0.00     0.00     0.00  125,000  125,000    0.00
2024-07-31     0.00     0.00     0.00        0        0    0.00
2024-08-31     0.00     0.00     0.00        0        0    0.00
2024-09-30     0.00     0.00     0.00        0        0    0.00
2024-10-31     0.00     0.00     0.00        0        0    0.00
2024-11-30     0.00     0.00     0.00        0        0    0.00

### 2) Costs

In [45]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.amt_add[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].amt_add[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,439         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,439       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00      0         0      0
2024-07-31       0   0.00         0   0.00    0.00      0         0      0
2024-08-31       0   0.00         0   0.00    0.00      0         0      0
2024-09-30       0   0.00         0   0.00    0.00      0         0      0
2024-10-31       0   0.00         0   0.00    0.00      0         0      0
2024-11-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0          0        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   1,940    66.00    30.00         300  22,554
2022-02-28       0     0.00     0.00           0   2,490
2022-03-31       0     0.00     0.00           0   2,490
2022-04-30       0     0.00     0.00           0   2,490
2022-05-31       0     0.00     0.00           0   2,490
2022-06-30       0     0.00     0.00           0   3,717
2022-07-31       0     0.00     0.00           0   2,490
2022-08-31       0     0.00     0.00           0   2,490
2022-09-30       0     0.00     0.00           0   2,490
2022-10-31       0     0.00     0.00           0   2,490
2022-11-30       0     0.00     0.00           0   2,490
2022-12-31       0     0.00     0.00           0   2,490
2023-01-31       0     0.00    30.00           0   2,520
2023-02-28       0     0.00     0.00           0   2,490
2023-03-31       0     0.00     0.00           0   2,490
2023-04-30       0     0.00     0.00           0   2,490
2023-05-31       0     0.00     0.00           0   2,490
2023-06-30       0     0.00     0.00           0   3,716
2023-07-31       0     0.00     0.00           0   2,490
2023-08-31       0     0.00     0.00           0   2,490
2023-09-30       0     0.00     0.00           0   2,490
2023-10-31       0     0.00     0.00           0   3,633
2023-11-30       0     0.00     0.00           0   2,490
2023-12-31       0     0.00     0.00           0   5,356
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0      30
2024-05-31       0     0.00     0.00           0      30
2024-06-30       0     0.00     0.00           0      30
2024-07-31       0     0.00     0.00           0       0
2024-08-31       0     0.00     0.00           0       0
2024-09-30       0     0.00     0.00           0       0
2024-10-31       0     0.00     0.00           0       0
2024-11-30       0     0.00     0.00           0   8,581

In [46]:
print("## 필수사업비/선택적사업비 ##")
cost_initial = cost_df[:1].sum()
cost_vital = cost_df[1:-2].sum()
cost_optional = cost_df[-1:].sum()
cost_total = cost_df.sum()
R(DataFrame({'initial':cost_initial,
             'vital':cost_vital,
             'optional':cost_optional,
             'total':cost_total}))

## 필수사업비/선택적사업비 ##

                      initial   vital optional   total
lnd       prchs         1,000  13,500        0  14,500
          brkrg            39      91        0     130
          tax_aqstn         0     675        0     675
          nhbond            0      36        0      36
          jdclcst           0      15        0      15
cstrn     cstrn            35  58,544    6,509  65,088
cstrnidrt wtrelec           0     980        0     980
          wsctbn            0     163        0     163
          dsgncst           0     624        0     624
          lcnscst           0     528        0     528
          spvsn             0     490        0     490
mrktg     rentagncy         0       0    1,070   1,070
          salescsltg        0       0    1,002   1,002
          advtsmnt          0     500        0     500
taxutlt   prpttax           0      74        0      74
          prsvtntax         0   2,866        0   2,866
addtnl    pmfee             0     200        0     200
          oprtgcst          0     900        0     900
          rsrvfund          0   1,879        0   1,879
          trustcst          0   1,879        0   1,879
          csltcst          10     140        0     150
          legalcst          0      40        0      40
fncg      arngmnt           0   1,940        0   1,940
          spcoprtg          0      66        0      66
          agntbank          0      60        0      60
          prepchs_fee       0     300        0     300
sum       sum           1,084  86,490    8,581  96,155

### 3) Loan

#### 3-1) Notional Amount

In [47]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.ntnl.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.ntnl.amt_add[:]
    loan_df[(key, 'bal_end')] = item.ntnl.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                      trb                      trc          \
           amt_sub amt_add  bal_end amt_sub amt_add  bal_end amt_sub amt_add
2021-12-31       0       0        0       0       0        0       0       0
2022-01-31  15,000       0  -15,000  20,000       0  -20,000  10,000       0
2022-02-28       0       0  -15,000       0       0  -20,000       0       0
2022-03-31       0       0  -15,000       0       0  -20,000       0       0
2022-04-30       0       0  -15,000       0       0  -20,000       0       0
2022-05-31       0       0  -15,000       0       0  -20,000       0       0
2022-06-30       0       0  -15,000       0       0  -20,000       0       0
2022-07-31       0       0  -15,000       0       0  -20,000       0       0
2022-08-31     200       0  -15,200       0       0  -20,000       0       0
2022-09-30   2,700       0  -17,900       0       0  -20,000       0       0
2022-10-31   2,800       0  -20,700       0       0  -20,000       0       0
2022-11-30   2,700       0  -23,400       0       0  -20,000       0       0
2022-12-31   2,800       0  -26,200       0       0  -20,000       0       0
2023-01-31   2,800       0  -29,000       0       0  -20,000       0       0
2023-02-28   2,800       0  -31,800       0       0  -20,000       0       0
2023-03-31   2,800       0  -34,600       0       0  -20,000       0       0
2023-04-30   2,800       0  -37,400       0       0  -20,000       0       0
2023-05-31   2,800       0  -40,200       0       0  -20,000       0       0
2023-06-30   4,000       0  -44,200       0       0  -20,000       0       0
2023-07-31   2,800       0  -47,000       0       0  -20,000       0       0
2023-08-31   2,800       0  -49,800       0       0  -20,000       0       0
2023-09-30   2,900       0  -52,700       0       0  -20,000       0       0
2023-10-31   4,000       0  -56,700       0       0  -20,000       0       0
2023-11-30   2,800       0  -59,500       0       0  -20,000       0       0
2023-12-31   5,800       0  -65,300       0       0  -20,000       0       0
2024-01-31     400       0  -65,700       0       0  -20,000       0       0
2024-02-29     400       0  -66,100       0       0  -20,000       0       0
2024-03-31     400       0  -66,500       0       0  -20,000       0       0
2024-04-30     500       0  -67,000       0       0  -20,000       0       0
2024-05-31       0       0  -67,000       0       0  -20,000       0       0
2024-06-30       0  67,000        0       0  20,000        0       0  10,000
2024-07-31       0       0        0       0       0        0       0       0
2024-08-31       0       0        0       0       0        0       0       0
2024-09-30       0       0        0       0       0        0       0       0
2024-10-31       0       0        0       0       0        0       0       0
2024-11-30       0       0        0       0       0        0       0       0

                        sum
            bal_end amt_sub amt_add  bal_end
2021-12-31        0       0       0        0
2022-01-31  -10,000  45,000       0  -45,000
2022-02-28  -10,000       0       0  -45,000
2022-03-31  -10,000       0       0  -45,000
2022-04-30  -10,000       0       0  -45,000
2022-05-31  -10,000       0       0  -45,000
2022-06-30  -10,000       0       0  -45,000
2022-07-31  -10,000       0       0  -45,000
2022-08-31  -10,000     200       0  -45,200
2022-09-30  -10,000   2,700       0  -47,900
2022-10-31  -10,000   2,800       0  -50,700
2022-11-30  -10,000   2,700       0  -53,400
2022-12-31  -10,000   2,800       0  -56,200
2023-01-31  -10,000   2,800       0  -59,000
2023-02-28  -10,000   2,800       0  -61,800
2023-03-31  -10,000   2,800       0  -64,600
2023-04-30  -10,000   2,800       0  -67,400
2023-05-31  -10,000   2,800       0  -70,200
2023-06-30  -10,000   4,000       0  -74,200
2023-07-31  -10,000   2,800       0  -77,000
2023-08-31  -10,000   2,800       0  -79,800
2023-09-30  -10,000   2,900       0  -82,700
2023-10-31  -10,000   4,000       0  -86,700
2023-11-30  -10,000   2,800       0  -89,500
2023-12-31  -10,000   5,800       0  -95,300
2024-01-31  -10,000     400       0  -95,700
2024-02-29  -10,000     400       0  -96,100
2024-03-31  -10,000     400       0  -96,500
2024-04-30  -10,000     500       0  -97,000
2024-05-31  -10,000       0       0  -97,000
2024-06-30        0       0  97,000        0
2024-07-31        0       0       0        0
2024-08-31        0       0       0        0
2024-09-30        0       0       0        0
2024-10-31        0       0       0        0
2024-11-30        0       0       0        0

#### 3-2) Fee Amount

In [48]:
fee_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.fee.dct.items()}, index=['amt_add'])
fee_dct['sum'] = fee_dct.sum(axis=1)
R(fee_dct)

           tra  trb  trc    sum
amt_add  1,389  700  700  2,789

In [49]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.fee.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.fee.amt_add[:]
    loan_df[(key, 'bal_end')] = item.fee.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00       0
2022-01-31    0.00   1,033   1,033    0.00     700     700    0.00     700
2022-02-28    0.00      22   1,055    0.00       0     700    0.00       0
2022-03-31    0.00      22   1,076    0.00       0     700    0.00       0
2022-04-30    0.00      22   1,098    0.00       0     700    0.00       0
2022-05-31    0.00      22   1,120    0.00       0     700    0.00       0
2022-06-30    0.00      22   1,141    0.00       0     700    0.00       0
2022-07-31    0.00      22   1,163    0.00       0     700    0.00       0
2022-08-31    0.00      22   1,185    0.00       0     700    0.00       0
2022-09-30    0.00      22   1,206    0.00       0     700    0.00       0
2022-10-31    0.00      20   1,227    0.00       0     700    0.00       0
2022-11-30    0.00      19   1,246    0.00       0     700    0.00       0
2022-12-31    0.00      18   1,264    0.00       0     700    0.00       0
2023-01-31    0.00      17   1,281    0.00       0     700    0.00       0
2023-02-28    0.00      16   1,297    0.00       0     700    0.00       0
2023-03-31    0.00      15   1,312    0.00       0     700    0.00       0
2023-04-30    0.00      14   1,325    0.00       0     700    0.00       0
2023-05-31    0.00      12   1,337    0.00       0     700    0.00       0
2023-06-30    0.00      11   1,349    0.00       0     700    0.00       0
2023-07-31    0.00      10   1,358    0.00       0     700    0.00       0
2023-08-31    0.00       8   1,366    0.00       0     700    0.00       0
2023-09-30    0.00       7   1,374    0.00       0     700    0.00       0
2023-10-31    0.00       6   1,380    0.00       0     700    0.00       0
2023-11-30    0.00       4   1,384    0.00       0     700    0.00       0
2023-12-31    0.00       3   1,387    0.00       0     700    0.00       0
2024-01-31    0.00       1   1,388    0.00       0     700    0.00       0
2024-02-29    0.00       1   1,388    0.00       0     700    0.00       0
2024-03-31    0.00       0   1,389    0.00       0     700    0.00       0
2024-04-30    0.00       0   1,389    0.00       0     700    0.00       0
2024-05-31    0.00       0   1,389    0.00       0     700    0.00       0
2024-06-30    0.00       0   1,389    0.00       0     700    0.00       0
2024-07-31    0.00       0   1,389    0.00       0     700    0.00       0
2024-08-31    0.00       0   1,389    0.00       0     700    0.00       0
2024-09-30    0.00       0   1,389    0.00       0     700    0.00       0
2024-10-31    0.00       0   1,389    0.00       0     700    0.00       0
2024-11-30    0.00       0   1,389    0.00       0     700    0.00       0

                       sum
           bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00       0       0
2022-01-31     700    0.00   2,433   2,433
2022-02-28     700    0.00      22   2,455
2022-03-31     700    0.00      22   2,476
2022-04-30     700    0.00      22   2,498
2022-05-31     700    0.00      22   2,520
2022-06-30     700    0.00      22   2,541
2022-07-31     700    0.00      22   2,563
2022-08-31     700    0.00      22   2,585
2022-09-30     700    0.00      22   2,606
2022-10-31     700    0.00      20   2,627
2022-11-30     700    0.00      19   2,646
2022-12-31     700    0.00      18   2,664
2023-01-31     700    0.00      17   2,681
2023-02-28     700    0.00      16   2,697
2023-03-31     700    0.00      15   2,712
2023-04-30     700    0.00      14   2,725
2023-05-31     700    0.00      12   2,737
2023-06-30     700    0.00      11   2,749
2023-07-31     700    0.00      10   2,758
2023-08-31     700    0.00       8   2,766
2023-09-30     700    0.00       7   2,774
2023-10-31     700    0.00       6   2,780
2023-11-30     700    0.00       4   2,784
2023-12-31     700    0.00       3   2,787
2024-01-31     700    0.00       1   2,788
2024-02-29     700    0.00       1   2,788
2024-03-31     700    0.00       0   2,789
2024-04-30     700    0.00       0   2,789
2024-05-31     700    0.00       0   2,789
2024-06-30     700    0.00       0   2,789
2024-07-31     700    0.00       0   2,789
2024-08-31     700    0.00       0   2,789
2024-09-30     700    0.00       0   2,789
2024-10-31     700    0.00       0   2,789
2024-11-30     700    0.00       0   2,789

#### 3-3) IR Amount

In [50]:
IR_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.IR.dct.items()}, index=['amt_add'])
IR_dct['sum'] = IR_dct.sum(axis=1)
R(IR_dct)

           tra    trb    trc    sum
amt_add  3,630  2,900  2,175  8,705

In [51]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.IR.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.IR.amt_add[:]
    loan_df[(key, 'bal_end')] = item.IR.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-01-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-02-28    0.00      50      50    0.00     100     100    0.00   75.00
2022-03-31    0.00      50     100    0.00     100     200    0.00   75.00
2022-04-30    0.00      50     150    0.00     100     300    0.00   75.00
2022-05-31    0.00      50     200    0.00     100     400    0.00   75.00
2022-06-30    0.00      50     250    0.00     100     500    0.00   75.00
2022-07-31    0.00      50     300    0.00     100     600    0.00   75.00
2022-08-31    0.00      50     350    0.00     100     700    0.00   75.00
2022-09-30    0.00      51     401    0.00     100     800    0.00   75.00
2022-10-31    0.00      60     460    0.00     100     900    0.00   75.00
2022-11-30    0.00      69     529    0.00     100   1,000    0.00   75.00
2022-12-31    0.00      78     607    0.00     100   1,100    0.00   75.00
2023-01-31    0.00      87     695    0.00     100   1,200    0.00   75.00
2023-02-28    0.00      97     791    0.00     100   1,300    0.00   75.00
2023-03-31    0.00     106     897    0.00     100   1,400    0.00   75.00
2023-04-30    0.00     115   1,013    0.00     100   1,500    0.00   75.00
2023-05-31    0.00     125   1,137    0.00     100   1,600    0.00   75.00
2023-06-30    0.00     134   1,271    0.00     100   1,700    0.00   75.00
2023-07-31    0.00     147   1,419    0.00     100   1,800    0.00   75.00
2023-08-31    0.00     157   1,575    0.00     100   1,900    0.00   75.00
2023-09-30    0.00     166   1,741    0.00     100   2,000    0.00   75.00
2023-10-31    0.00     176   1,917    0.00     100   2,100    0.00   75.00
2023-11-30    0.00     189   2,106    0.00     100   2,200    0.00   75.00
2023-12-31    0.00     198   2,304    0.00     100   2,300    0.00   75.00
2024-01-31    0.00     218   2,522    0.00     100   2,400    0.00   75.00
2024-02-29    0.00     219   2,741    0.00     100   2,500    0.00   75.00
2024-03-31    0.00     220   2,961    0.00     100   2,600    0.00   75.00
2024-04-30    0.00     222   3,183    0.00     100   2,700    0.00   75.00
2024-05-31    0.00     223   3,406    0.00     100   2,800    0.00   75.00
2024-06-30    0.00     223   3,630    0.00     100   2,900    0.00   75.00
2024-07-31    0.00       0   3,630    0.00       0   2,900    0.00    0.00
2024-08-31    0.00       0   3,630    0.00       0   2,900    0.00    0.00
2024-09-30    0.00       0   3,630    0.00       0   2,900    0.00    0.00
2024-10-31    0.00       0   3,630    0.00       0   2,900    0.00    0.00
2024-11-30    0.00       0   3,630    0.00       0   2,900    0.00    0.00

                       sum
           bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00       0       0
2022-01-31       0    0.00       0       0
2022-02-28      75    0.00     225     225
2022-03-31     150    0.00     225     450
2022-04-30     225    0.00     225     675
2022-05-31     300    0.00     225     900
2022-06-30     375    0.00     225   1,125
2022-07-31     450    0.00     225   1,350
2022-08-31     525    0.00     225   1,575
2022-09-30     600    0.00     226   1,801
2022-10-31     675    0.00     235   2,035
2022-11-30     750    0.00     244   2,279
2022-12-31     825    0.00     253   2,532
2023-01-31     900    0.00     262   2,795
2023-02-28     975    0.00     272   3,066
2023-03-31   1,050    0.00     281   3,347
2023-04-30   1,125    0.00     290   3,638
2023-05-31   1,200    0.00     300   3,937
2023-06-30   1,275    0.00     309   4,246
2023-07-31   1,350    0.00     322   4,569
2023-08-31   1,425    0.00     332   4,900
2023-09-30   1,500    0.00     341   5,241
2023-10-31   1,575    0.00     351   5,592
2023-11-30   1,650    0.00     364   5,956
2023-12-31   1,725    0.00     373   6,329
2024-01-31   1,800    0.00     393   6,722
2024-02-29   1,875    0.00     394   7,116
2024-03-31   1,950    0.00     395   7,511
2024-04-30   2,025    0.00     397   7,908
2024-05-31   2,100    0.00     398   8,306
2024-06-30   2,175    0.00     398   8,705
2024-07-31   2,175    0.00       0   8,705
2024-08-31   2,175    0.00       0   8,705
2024-09-30   2,175    0.00       0   8,705
2024-10-31   2,175    0.00       0   8,705
2024-11-30   2,175    0.00       0   8,705