In [7]:
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import date
from collections import namedtuple

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R

In [3]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"),
      pd.get_option("display.max_rows"))

40 200

# Initial Setting

In [14]:
# Pickling Data
with open("data/area.pickle", "rb") as fr:
    area = pickle.load(fr)

In [15]:
ctg = namedtuple('category', ['nml', 'cld'])

# Valuation
### 1) Assumption

In [12]:
rent = ctg(23_000, 50_000) # unit rent
mtnc = ctg(2_000, 2_000) # unit maintenance cost

In [17]:
area['mtrxm2'][('exclsv', 'cldstrg')]

ttlfloor  floor
nonfloor  f1           0.00
          f3           0.00
ttlfloor  b1        8481.27
          f1        9526.66
          f2           0.00
          f3           0.00
          f4           0.00
ttl       sum      18007.93
ttlfloor  sum      18007.93
nonfloor  sum          0.00
Name: (exclsv, cldstrg), dtype: float64