In [1]:
import pickle

In [3]:
with open("data/area.pickle", "rb") as fr:
    data = pickle.load(fr)

In [5]:
data.keys()

dict_keys(['areadf', 'mtrxm2', 'mtrxpy'])

In [8]:
data['mtrxm2']

exclsv           common        exclsv                                       \
name            passage ramp    berth  canopy   cldstrg   mchnrm   nmlstrg
ttlfloor floor
nonfloor f1     1737.88  0.0   870.96    0.00      0.00     0.00      0.00
         f3     1849.31  0.0     0.00    0.00      0.00     0.00      0.00
ttlfloor b1     2302.99  0.0  1610.59    0.00   8481.27  1731.67      0.00
         f1        0.00  0.0     0.00    0.00   9526.66     0.00      0.00
         f2     2213.74  0.0  1576.62    0.00      0.00     0.00   8665.99
         f3        0.00  0.0  1289.95    0.00      0.00     0.00   8920.76
         f4        0.00  0.0     0.00  672.06      0.00     0.00   4621.30
ttl      sum    8103.92  0.0  5348.12  672.06  18007.93  1731.67  22208.05
ttlfloor sum    4516.73  0.0  4477.16  672.06  18007.93  1731.67  22208.05
nonfloor sum    3587.19  0.0   870.96    0.00      0.00     0.00      0.00

exclsv                                 ttl    exclsv   common      rent
name             office    stair       sum       sum      sum       sum
ttlfloor floor
nonfloor f1        0.00     0.00   2608.84    870.96  1737.88    870.96
         f3        0.00     0.00   1849.31      0.00  1849.31      0.00
ttlfloor b1      685.55   197.61  15009.68  12706.69  2302.99  10975.02
         f1      289.05   219.51  10035.22  10035.22     0.00  10035.22
         f2      243.80   241.00  12941.15  10727.41  2213.74  10727.41
         f3       75.77   219.51  10505.99  10505.99     0.00  10505.99
         f4       64.52   125.16   5483.04   5483.04     0.00   5483.04
ttl      sum    1358.69  1002.79  58433.23  50329.31  8103.92  48597.64
ttlfloor sum    1358.69  1002.79  53975.08  49458.35  4516.73  47726.68
nonfloor sum       0.00     0.00   4458.15    870.96  3587.19    870.96