In [1]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [3]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"),
      pd.get_option("display.max_rows"))

40 200

# Initial Setting

In [5]:
astn = EmptyClass()

# Input Index Data

In [6]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 35],
           ['cstrn', '2022-01', 23],
           ['loan',  '2022-01', 29],
           ['sales', '2022-01', 29]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [7]:
# Equity Data

tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [10]:
# Loan Data

tmp_col = ['title', 'rnk', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',     0,     75_000,     18_000,      0.020,     0.043],
           ['trb',     1,     22_000,     22_000,      0.041,     0.070]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col).sort_values(by=['rnk'])

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     rnk = astn.loan.rnk,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

loan.arng_fee = 0.02       # Fee on balance for Tr.A
loan.feeonbal_tra = 0.002  # Arangement fee rate

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))
print(f"Arangement fee rate: {loan.arng_fee * 100:,.1f}%")
print(f"Fee on bal Tr.A    : {loan.feeonbal_tra * 100:,.1f}%")

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title   rnk amt_ntnl amt_intl rate_fee rate_IR
0   tra  0.00   75,000   18,000     2.00    4.30
1   trb  1.00   22,000   22,000     4.10    7.00
Arangement fee rate: 2.0%
Fee on bal Tr.A    : 0.5%

In [11]:
fee_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_fee)
IR_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_IR * 29 / 12)
arng_amt = sum(astn.loan.amt_ntnl * loan.arng_fee)

ttl_amt = fee_amt + IR_amt + arng_amt
allin_rate = ttl_amt / sum(astn.loan.amt_ntnl) * 12 / 29

print(f"allin_rate : {allin_rate*100:>5.2f}%")

allin_rate :  6.76%