In [58]:
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import date
from collections import namedtuple

In [59]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import percent as P

In [60]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"),
      pd.get_option("display.max_rows"))

40 200

# Initial Setting

In [61]:
def ctg(nml, cld):
    idx = ['nml', 'cld']
    return Series([nml, cld], index = idx)

In [62]:
# Pickling Data
with open("data/area.pickle", "rb") as fr:
    data_area = pickle.load(fr)
areadf = data_area['areadf']

In [63]:
"""
# Call out the area data
area_rent = areadf.loc[[x in data_area['rent_col'] for x in areadf.name]]
area_rent = area_rent.area_py.groupby(areadf['floor']).sum()
area_cld = round(area_rent[['b1', 'f1']].sum(), 2)
area_nml = round(area_rent[['f2', 'f3', 'f4']].sum(), 2)
"""

"\n# Call out the area data\narea_rent = areadf.loc[[x in data_area['rent_col'] for x in areadf.name]]\narea_rent = area_rent.area_py.groupby(areadf['floor']).sum()\narea_cld = round(area_rent[['b1', 'f1']].sum(), 2)\narea_nml = round(area_rent[['f2', 'f3', 'f4']].sum(), 2)\n"

In [64]:
# Call out the area data
data_mtrxpy = data_area['mtrxpy']
loc_cld = [x[1] in ['b1', 'f1'] for x in data_mtrxpy.index]
loc_nml = [x[1] in ['f2', 'f3', 'f4'] for x in data_mtrxpy.index]
area_cld = round(data_mtrxpy[('rent', 'sum')].loc[loc_cld].sum(), 2)
area_nml = round(data_mtrxpy[('rent', 'sum')].loc[loc_nml].sum(), 2)

### Valuation Class

In [65]:
class Valuation:
    def __init__(self, rent, mtnc, cap_rate, area, vcncy_rate, oprtg_rate, IR, RU=1_000_000):
        self.rent = rent
        self.mtnc = mtnc
        self.cap_rate = cap_rate
        self.area = area
        self.vcncy_rate = vcncy_rate
        self.oprtg_rate = oprtg_rate
        self.IR = IR
        self.RU = RU
        
        self.__intlz__()
        self.ctgr = ['rent', 'mtnc', 'cap_rate', 'area', 'vcncy_rate', 'oprtg_rate',
                     'rent_amt', 'mtnc_amt', 'dpst_amt', 'IR_amt',
                     'PGI', 'EGI', 'oprtg_cst', 'NOI', 'value']
        self.ctgr_rate = ['cap_rate', 'vcncy_rate', 'oprtg_rate']
        

    def __intlz__(self):
        self.dpst_amt = self.rent * 10 * self.area / self.RU # deposit amount
        self.rent_amt = self.rent * 12 * self.area / self.RU # yearly rent amount
        self.mtnc_amt = self.mtnc * 12 * self.area / self.RU # yearly maintenance cost
        self.IR_amt = self.dpst_amt * self.IR
        
        self.PGI = self.IR_amt + self.rent_amt + self.mtnc_amt
        self.EGI = self.PGI * (1 - self.vcncy_rate)
        self.oprtg_cst = self.PGI * self.oprtg_rate
        self.NOI = self.EGI - self.oprtg_cst
        self.value = self.NOI / self.cap_rate
        self.value_sum = self.value.sum()
        
    def printval(self, withsum=True):
        tmpdct = DataFrame({x: getattr(self, x) for x in self.ctgr})
        if withsum:
            tmpdct_withsum = tmpdct.append(DataFrame([tmpdct.sum()], index=['sum']))
            return DataFrame(tmpdct_withsum)
        else:
            return DataFrame(tmpdct)

In [66]:
class Val_Mtrx:
    def __init__(self, rent=None, mtnc=None, cap_rate=None, area=None, 
                 vcncy_rate=None, oprtg_rate=None, IR=None, RU=1_000_000):
        self.rent = rent
        self.mtnc = mtnc
        self.cap_rate=cap_rate
        self.area = area
        self.vcncy_rate = vcncy_rate
        self.oprtg_rate = oprtg_rate
        self.IR = IR
        self.RU = RU
        
        self.ctgr = ['rent', 'mtnc', 'cap_rate', 'area', 'vcncy_rate', 'oprtg_rate',
                     'rent_amt', 'mtnc_amt', 'dpst_amt', 'IR_amt',
                     'PGI', 'EGI', 'oprtg_cst', 'NOI', 'value']
        self.ctgr_rate = ['cap_rate', 'vcncy_rate', 'oprtg_rate']
        self.ctgr_cld = ['nml', 'cld']
        
        self.rslt_lst = []
    
    
    @property
    def ctgr_rate_mlti(self):
        ctgr_rslt = []
        for val1 in self.ctgr_rate:
            for val2 in self.ctgr_cld:
                ctgr_rslt.append((val1, val2))
        return ctgr_rslt
    
        
    def value(self, rent=None, mtnc=None, cap_rate=None, area=None, 
                 vcncy_rate=None, oprtg_rate=None, IR=None):
        keys = ['rent', 'mtnc', 'cap_rate', 'area', 'vcncy_rate', 'oprtg_rate', 'IR']
        dct = {}
        for key in keys:
            if locals()[key] is not None:
                tmp_val = locals()[key]
            else:
                tmp_val = getattr(self, key)
            dct['tmp_'+key] = tmp_val
            
        tmpistnc = Valuation(rent = dct['tmp_rent'],
                             mtnc = dct['tmp_mtnc'],
                             cap_rate = dct['tmp_cap_rate'],
                             area = dct['tmp_area'],
                             vcncy_rate = dct['tmp_vcncy_rate'],
                             oprtg_rate = dct['tmp_oprtg_rate'],
                             IR = dct['tmp_IR'])
        return tmpistnc

                
    def mkdict(self, **kwargs):
        lenarg = len(kwargs)
        keylst = []
        arglst = []
        for key, item in kwargs.items():
            keylst.append(key)
            arglst.append(item)
        
        for val0 in arglst[0]:
            if lenarg == 1:
                tmpdct = {keylst[0]:val0}
                self.rslt_lst.append(self.value(**tmpdct))
            else:
                for val1 in arglst[1]:
                    if lenarg == 2:
                        tmpdct = {keylst[0]:val0, keylst[1]:val1}
                        self.rslt_lst.append(self.value(**tmpdct))
                    else:
                        for val2 in arglst[2]:
                            if lenarg == 3:
                                tmpdct = {keylst[0]:val0, keylst[1]:val1, keylst[2]:val2}
                                self.rslt_lst.append(self.value(**tmpdct))

    
    def printlst(self):
        tmplst = []
        tmpsum = []
        for rslt in self.rslt_lst:
            tmprslt = rslt.printval(withsum=False).unstack()
            tmplst.append(tmprslt)
            
            tmpsum.append(rslt.value_sum)
        tmpdf = DataFrame(tmplst)
        tmpdf[('value', 'sum')] = tmpsum
        return tmpdf

# Valuation
### 1) Assumption

In [67]:
val_mtrx = Val_Mtrx(rent = ctg(23_000, 50_000),
                    cap_rate = ctg(P(4.2), P(5.0)),
                    mtnc = ctg(2_000, 2_000),
                    area = ctg(area_nml, area_cld),
                    vcncy_rate = ctg(0.0, 0.0),
                    oprtg_rate = P(14.5),
                    IR = P(1.0))

In [68]:
rent_case = [ctg(20_000, 44_000), # unit rent
             ctg(21_000, 46_000),
             ctg(22_000, 48_000),
             ctg(23_000, 50_000),
             ctg(24_000, 52_000),
             ctg(25_000, 54_000)]
cap_rate = [ctg(P(4.4), P(5.4)),
            ctg(P(4.3), P(5.2)),
            ctg(P(4.2), P(5.0)),
            ctg(P(4.1), P(4.8)),
            ctg(P(4.0), P(4.6))]

val_mtrx.mkdict(rent=rent_case, cap_rate=cap_rate)
val_mtrx.rslt_lst

[<__main__.Valuation at 0x7ff58e24a810>,
 <__main__.Valuation at 0x7ff58e24a090>,
 <__main__.Valuation at 0x7ff58e24ac50>,
 <__main__.Valuation at 0x7ff58da07610>,
 <__main__.Valuation at 0x7ff58da07450>,
 <__main__.Valuation at 0x7ff58e242e50>,
 <__main__.Valuation at 0x7ff58d8cde10>,
 <__main__.Valuation at 0x7ff58e242050>,
 <__main__.Valuation at 0x7ff58e24add0>,
 <__main__.Valuation at 0x7ff58e242a90>,
 <__main__.Valuation at 0x7ff58da076d0>,
 <__main__.Valuation at 0x7ff58da04c10>,
 <__main__.Valuation at 0x7ff58df26890>,
 <__main__.Valuation at 0x7ff58e242d10>,
 <__main__.Valuation at 0x7ff58df26c10>,
 <__main__.Valuation at 0x7ff58dd4bb10>,
 <__main__.Valuation at 0x7ff58e2426d0>,
 <__main__.Valuation at 0x7ff58dd4b750>,
 <__main__.Valuation at 0x7ff58e242ad0>,
 <__main__.Valuation at 0x7ff58dd4bed0>,
 <__main__.Valuation at 0x7ff58da04590>,
 <__main__.Valuation at 0x7ff58e21a990>,
 <__main__.Valuation at 0x7ff58dd4b910>,
 <__main__.Valuation at 0x7ff58e21add0>,
 <__main__.Valuation at 0x7ff58e21a610>,
 <__main__.Valuation at 0x7ff58e21a290>,
 <__main__.Valuation at 0x7ff58e31d710>,
 <__main__.Valuation at 0x7ff58e21a450>,
 <__main__.Valuation at 0x7ff58df1e090>,
 <__main__.Valuation at 0x7ff58d746050>]

### 2) Pickling Result

In [69]:
data_valuation = {}

In [70]:
valuation_mtrx = val_mtrx.printlst()
data_valuation['valuation_mtrx'] = valuation_mtrx
R(valuation_mtrx, rate=val_mtrx.ctgr_rate_mlti)

      rent           mtnc        cap_rate        area        vcncy_rate       \
       nml     cld    nml    cld      nml  cld    nml    cld        nml  cld
0   20,000  44,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
1   20,000  44,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
2   20,000  44,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
3   20,000  44,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
4   20,000  44,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0
5   21,000  46,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
6   21,000  46,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
7   21,000  46,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
8   21,000  46,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
9   21,000  46,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0
10  22,000  48,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
11  22,000  48,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
12  22,000  48,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
13  22,000  48,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
14  22,000  48,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0
15  23,000  50,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
16  23,000  50,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
17  23,000  50,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
18  23,000  50,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
19  23,000  50,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0
20  24,000  52,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
21  24,000  52,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
22  24,000  52,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
23  24,000  52,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
24  24,000  52,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0
25  25,000  54,000  2,000  2,000      4.4  5.4  8,370  6,855        0.0  0.0
26  25,000  54,000  2,000  2,000      4.3  5.2  8,370  6,855        0.0  0.0
27  25,000  54,000  2,000  2,000      4.2  5.0  8,370  6,855        0.0  0.0
28  25,000  54,000  2,000  2,000      4.1  4.8  8,370  6,855        0.0  0.0
29  25,000  54,000  2,000  2,000      4.0  4.6  8,370  6,855        0.0  0.0

   oprtg_rate       rent_amt        mtnc_amt      dpst_amt        IR_amt  \
          nml   cld      nml    cld      nml  cld      nml    cld    nml
0        14.5  14.5    2,009  3,619      201  165    1,674  3,016   16.7
1        14.5  14.5    2,009  3,619      201  165    1,674  3,016   16.7
2        14.5  14.5    2,009  3,619      201  165    1,674  3,016   16.7
3        14.5  14.5    2,009  3,619      201  165    1,674  3,016   16.7
4        14.5  14.5    2,009  3,619      201  165    1,674  3,016   16.7
5        14.5  14.5    2,109  3,784      201  165    1,758  3,153   17.6
6        14.5  14.5    2,109  3,784      201  165    1,758  3,153   17.6
7        14.5  14.5    2,109  3,784      201  165    1,758  3,153   17.6
8        14.5  14.5    2,109  3,784      201  165    1,758  3,153   17.6
9        14.5  14.5    2,109  3,784      201  165    1,758  3,153   17.6
10       14.5  14.5    2,210  3,948      201  165    1,841  3,290   18.4
11       14.5  14.5    2,210  3,948      201  165    1,841  3,290   18.4
12       14.5  14.5    2,210  3,948      201  165    1,841  3,290   18.4
13       14.5  14.5    2,210  3,948      201  165    1,841  3,290   18.4
14       14.5  14.5    2,210  3,948      201  165    1,841  3,290   18.4
15       14.5  14.5    2,310  4,113      201  165    1,925  3,427   19.3
16       14.5  14.5    2,310  4,113      201  165    1,925  3,427   19.3
17       14.5  14.5    2,310  4,113      201  165    1,925  3,427   19.3
18       14.5  14.5    2,310  4,113      201  165    1,925  3,427   19.3
19       14.5  14.5    2,310  4,113      201  165    1,925  3,427   19.3
20       14.5  14.5    2,410  4,277      201  165    2,009  3,565   20.1
21       14.5  14.5    2,410  4,277      201  165    2,009  3,565   20.1
22       14.5  14.5    2,410  4,277      201  165    2,009  3,565   20.1
23       14.5  14.5    2,410  4,277      201  165    2,009  3,565   20.1
24       14.5  14.5    2,410  4,277      201  165    2,009  3,565   20.1
25       14.5  14.5    2,511  4,442      201  165    2,092  3,702   20.9
26       14.5  14.5    2,511  4,442      201  165    2,092  3,702   20.9
27       14.5  14.5    2,511  4,442      201  165    2,092  3,702   20.9
28       14.5  14.5    2,511  4,442      201  165    2,092  3,702   20.9
29       14.5  14.5    2,511  4,442      201  165    2,092  3,702   20.9

            PGI           EGI        oprtg_cst         NOI          value  \
     cld    nml    cld    nml    cld       nml  cld    nml    cld     nml
0   30.2  2,226  3,814  2,226  3,814       323  553  1,904  3,261  43,262
1   30.2  2,226  3,814  2,226  3,814       323  553  1,904  3,261  44,268
2   30.2  2,226  3,814  2,226  3,814       323  553  1,904  3,261  45,322
3   30.2  2,226  3,814  2,226  3,814       323  553  1,904  3,261  46,427
4   30.2  2,226  3,814  2,226  3,814       323  553  1,904  3,261  47,588
5   31.5  2,328  3,980  2,328  3,980       338  577  1,990  3,403  45,230
6   31.5  2,328  3,980  2,328  3,980       338  577  1,990  3,403  46,282
7   31.5  2,328  3,980  2,328  3,980       338  577  1,990  3,403  47,384
8   31.5  2,328  3,980  2,328  3,980       338  577  1,990  3,403  48,539
9   31.5  2,328  3,980  2,328  3,980       338  577  1,990  3,403  49,753
10  32.9  2,429  4,146  2,429  4,146       352  601  2,077  3,545  47,198
11  32.9  2,429  4,146  2,429  4,146       352  601  2,077  3,545  48,295
12  32.9  2,429  4,146  2,429  4,146       352  601  2,077  3,545  49,445
13  32.9  2,429  4,146  2,429  4,146       352  601  2,077  3,545  50,651
14  32.9  2,429  4,146  2,429  4,146       352  601  2,077  3,545  51,917
15  34.3  2,530  4,312  2,530  4,312       367  625  2,163  3,687  49,166
16  34.3  2,530  4,312  2,530  4,312       367  625  2,163  3,687  50,309
17  34.3  2,530  4,312  2,530  4,312       367  625  2,163  3,687  51,507
18  34.3  2,530  4,312  2,530  4,312       367  625  2,163  3,687  52,763
19  34.3  2,530  4,312  2,530  4,312       367  625  2,163  3,687  54,082
20  35.6  2,631  4,478  2,631  4,478       382  649  2,250  3,828  51,133
21  35.6  2,631  4,478  2,631  4,478       382  649  2,250  3,828  52,323
22  35.6  2,631  4,478  2,631  4,478       382  649  2,250  3,828  53,568
23  35.6  2,631  4,478  2,631  4,478       382  649  2,250  3,828  54,875
24  35.6  2,631  4,478  2,631  4,478       382  649  2,250  3,828  56,247
25  37.0  2,733  4,644  2,733  4,644       396  673  2,336  3,970  53,101
26  37.0  2,733  4,644  2,733  4,644       396  673  2,336  3,970  54,336
27  37.0  2,733  4,644  2,733  4,644       396  673  2,336  3,970  55,630
28  37.0  2,733  4,644  2,733  4,644       396  673  2,336  3,970  56,987
29  37.0  2,733  4,644  2,733  4,644       396  673  2,336  3,970  58,412


       cld      sum
0   60,390  103,651
1   62,712  106,980
2   65,221  110,543
3   67,938  114,366
4   70,892  118,480
5   63,016  108,246
6   65,440  111,721
7   68,057  115,441
8   70,893  119,432
9   73,975  123,728
10  65,643  112,840
11  68,167  116,463
12  70,894  120,339
13  73,848  124,499
14  77,059  128,976
15  68,269  117,435
16  70,895  121,204
17  73,731  125,238
18  76,803  129,566
19  80,142  134,224
20  70,896  122,029
21  73,623  125,945
22  76,568  130,136
23  79,758  134,633
24  83,226  139,472
25  73,522  126,624
26  76,350  130,687
27  79,404  135,034
28  82,713  139,700
29  86,309  144,720

In [71]:
valuation_smry = val_mtrx.printlst()[['rent', 'cap_rate', 'value']]
data_valuation['valuation_smry'] = valuation_smry
R(valuation_smry, rate=val_mtrx.ctgr_rate_mlti)

      rent         cap_rate        value
       nml     cld      nml  cld     nml     cld      sum
0   20,000  44,000      4.4  5.4  43,262  60,390  103,651
1   20,000  44,000      4.3  5.2  44,268  62,712  106,980
2   20,000  44,000      4.2  5.0  45,322  65,221  110,543
3   20,000  44,000      4.1  4.8  46,427  67,938  114,366
4   20,000  44,000      4.0  4.6  47,588  70,892  118,480
5   21,000  46,000      4.4  5.4  45,230  63,016  108,246
6   21,000  46,000      4.3  5.2  46,282  65,440  111,721
7   21,000  46,000      4.2  5.0  47,384  68,057  115,441
8   21,000  46,000      4.1  4.8  48,539  70,893  119,432
9   21,000  46,000      4.0  4.6  49,753  73,975  123,728
10  22,000  48,000      4.4  5.4  47,198  65,643  112,840
11  22,000  48,000      4.3  5.2  48,295  68,167  116,463
12  22,000  48,000      4.2  5.0  49,445  70,894  120,339
13  22,000  48,000      4.1  4.8  50,651  73,848  124,499
14  22,000  48,000      4.0  4.6  51,917  77,059  128,976
15  23,000  50,000      4.4  5.4  49,166  68,269  117,435
16  23,000  50,000      4.3  5.2  50,309  70,895  121,204
17  23,000  50,000      4.2  5.0  51,507  73,731  125,238
18  23,000  50,000      4.1  4.8  52,763  76,803  129,566
19  23,000  50,000      4.0  4.6  54,082  80,142  134,224
20  24,000  52,000      4.4  5.4  51,133  70,896  122,029
21  24,000  52,000      4.3  5.2  52,323  73,623  125,945
22  24,000  52,000      4.2  5.0  53,568  76,568  130,136
23  24,000  52,000      4.1  4.8  54,875  79,758  134,633
24  24,000  52,000      4.0  4.6  56,247  83,226  139,472
25  25,000  54,000      4.4  5.4  53,101  73,522  126,624
26  25,000  54,000      4.3  5.2  54,336  76,350  130,687
27  25,000  54,000      4.2  5.0  55,630  79,404  135,034
28  25,000  54,000      4.1  4.8  56,987  82,713  139,700
29  25,000  54,000      4.0  4.6  58,412  86,309  144,720

In [72]:
valuation_pivot = val_mtrx.printlst()[['rent', 'cap_rate', 'value']]
col_name = [x + "_" + y for x, y in valuation_pivot.columns]
valuation_pivot.columns = col_name
valuation_pivot['rent'] = list(zip([f"{x:,.0f}" for x in valuation_pivot['rent_nml']], 
                                   [f"{x:,.0f}" for x in valuation_pivot['rent_cld']]))
valuation_pivot['cap_rate'] = list(zip([round(x * 100, 1) for x in valuation_pivot['cap_rate_nml']], 
                                       [round(x * 100, 1) for x in valuation_pivot['cap_rate_cld']]))
valuation_pivot = valuation_pivot.pivot_table(index='rent', columns='cap_rate', values='value_sum')
data_valuation['valuation_pivot'] = valuation_pivot
valuation_pivot

cap_rate,"(4.0, 4.6)","(4.1, 4.8)","(4.2, 5.0)","(4.3, 5.2)","(4.4, 5.4)"
rent,,,,,
"(20,000, 44,000)",118480.057357,114365.538101,110542.596395,106980.109962,103651.346515
"(21,000, 46,000)",123728.145875,119432.354807,115440.933387,111721.398016,108245.846723
"(22,000, 48,000)",128976.234392,124499.171513,120339.270379,116462.686070,112840.346931
"(23,000, 50,000)",134224.322910,129565.988219,125237.607370,121203.974124,117434.847139
"(24,000, 52,000)",139472.411427,134632.804925,130135.944362,125945.262177,122029.347347
"(25,000, 54,000)",144720.499944,139699.621632,135034.281354,130686.550231,126623.847555

In [73]:
with open('data/valuation.pickle', 'wb') as fw:
    pickle.dump(data_valuation, fw)

### 3) Exceling

In [74]:
data_valuation['valuation_mtrx'].to_excel("data/valuation_mtrx.xlsx")
data_valuation['valuation_pivot'].to_excel("data/valuation_pivot.xlsx")

### 4) Exercising